<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{getPreparedTitle}}</title>
        <meta name="description" content="{{site.description}}">
        <meta name="version" content="{{site.version}}">
        <meta name="viewport" content="width=device-width">
        {{{getBlock 'meta'}}}

        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/vendor/full-glyphicons/css/glyphicons.css">
        <link rel="stylesheet" href="/css/main.css">
        {{{getBlock 'styles' add=document.styles}}}

        <script src="/vendor/console-polyfill/js/index.js"></script>
        <script src="/vendor/modernizr/js/modernizr.js"></script>
        <script src="/vendor/respond/js/respond.min.js"></script>

        <link rel="alternate" type="application/rss+xml" title="{{site.rss.menu.title}}" href="{{site.rss.menu.url}}"/>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">{{{site.outdatedWarning}}}</p>
        <![endif]-->
        {{{partial 'navigation'}}}
        {{{content}}}
        {{{partial 'footer'}}}
<!--<pre>
une page de type blog basée sur tumblr avec hook pour reload
un menu par degre

page ave  les trois menus côte à côte
Primaire
  premiere page avec le menu de la semaine
  archives
Collège
  premiere page avec le menu de la semaine
  archives
Lycée
  premiere page avec le menu de la semaine
  archives
Administrateur
  liste de l'ensemble des menus sur une seule page
</pre>-->
        {{{partial 'disqus'}}}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/vendor/jquery/js/jquery.min.js"><\/script>')</script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/vendor/date.format/js/date.format.js"></script>
        <script src="/js/main.js"></script>
        {{{getBlock 'scripts' add=document.scripts}}}
        
        {{#if document.scriptOnReady}}
        <script type="text/javascript" defer='defer'>
            jQuery(function($) {
                $(document).ready(function() {
                    {{{document.scriptOnReady}}}
                });
            });
        </script>
        {{/if}}
        {{{partial 'google-analytics'}}}
    </body>
</html>
